<div style="color: white;">
    <h1>Albums</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Release Date</th>
            </tr>
        </thead>
        <tbody>
            <!-- Album data rows -->
        </tbody>
    </table>
</div>
