<div class="wrapper">
    <div class="container">
        <main role="main">
            <h1>Greetings Earthling!</h1>
            <p>Your hub for music and forums!</p>
        </main>
    </div>
</div>
