@model DTN.Models.Song

<h1>Add Song</h1>

<form method="post">
    <label>Title:</label>
    <input type="text" asp-for="Title" />
    <label>Duration:</label>
    <input type="text" asp-for="Duration" />
    <button type="submit">Create</button>
</form>
