@model DTN.Models.Song

<h1>Add Song</h1>

<form method="post">
    <label>Title:</label>
    <input type="text" asp-for="Title" /><br />
    <label>Artist:</label>
    <input type="text" asp-for="Artist" /><br>
    <label>Duration:</label>
    <input type="text" asp-for="Duration" /><br>
    <button type="submit">Create</button>
</form>
